<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11C74</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RRSenderPhoto</string>
	<key>CFBundleIdentifier</key>
	<string>com.ud7.RRSenderPhoto</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RRSenderPhoto</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4D199</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11C63</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0420</string>
	<key>DTXcodeBuild</key>
	<string>4D199</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 Rolandas Razma. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>RRSenderPhoto</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>EF59EC5E-EFCD-4EA7-B617-6C5708397D24</string>
		<string>6E7970A3-E5F1-4C41-A904-B18D3D8FAA7D</string>
	</array>
</dict>
</plist>
